*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.bib
*.blg
*.dvi
*.glo
*.idx
*.ilg
*.ind
*.ist
*.glg
*.gls
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.ps
*.synctex
*.synctex.gz
*.tcp
*.toc
*.tps
*.xml
*.xwm
*.tdo
